 * {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;

  max-width: 60em;
  margin: 0 auto;
  line-height: 1.5em;
}
nav {
  order: 1;
  flex: 1 1 0;
}
header {
  order: 2;
  flex: 1 1 0;
  background-color: green;
  text-align: center;
}
section {
  display: flex;
  flex-flow: column;
  order: 3;
  background-color: yellow;
  text-align: center;
}
footer {
  order: 4;
  background-color: darkred ;
  text-align: center;
}
article {
  flex: 2 2 1em;
  order: 2;
  background: lightblue;
  text-align: center;
}

/* */
.vinstri{ order:1;
  flex: 1 1 0;
}
.haegri{
  order: 3;
  flex: 1 1 0;
}

.topmenu {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 1;
  margin: 0;
  font-size: 25px;
  list-style: none;
}

.topmenu li {
  border: 0;
  border-left: 1px solid line;
  padding: 0;

}
.topmenu li:last-child {
  border-rigSht: 1px solid line;
}
.topmenu a{
  display: block;
}
.sMedia {
  display: block;
  position: fixed;
  top: 4em;
  left: 0;
  height: 12em;
  width: 3em;
}

.sMedia div {
  position: relative;
  height: 3em;
  width: 3em;
  margin: 0;
  padding: 1em .6em 0 .6em;
  background-color: green;
  border-bottom: 1px solid yellow
}

.sMedia a {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  color: green;
  text-decoration: none;
  font-size: 1.3em;
  color: red;
}
